/* COLORS */
/* SPACING */
/* TRANSITION */
/* CUSTOM PROPS */
:root {
  --color-brown: #d87d4a;
  --color-brown-light: #fbaf85;
  --color-black: #000000;
  --color-grey-dark: #101010;
  --color-grey-darker: #4c4c4c;
  --color-grey: #f1f1f1;
  --color-light: #fafafa;
  --color-white: #ffffff;
  --color-red: #cd2c2c;
  --container-padding: 24px;
  --color-primary: #d87d4a;
  --color-bg-body: #fafafa;
  --color-body-text: #000000;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

ul[role=list],
ol[role=list] {
  list-style: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* FONTS */
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Bold.woff2") format("woff2"), url("../fonts/Manrope-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Medium.woff2") format("woff2"), url("../fonts/Manrope-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Regular.woff2") format("woff2"), url("../fonts/Manrope-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* Global */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Manrope", "Arial", sans-serif;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 0.9375rem;
  font-weight: 500;
  line-height: 166.667%;
  background-color: var(--color-bg-body);
  color: rgba(0, 0, 0, 0.5);
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: var(--color-primary);
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-property: color, opacity;
}
a:hover {
  text-decoration: none;
}
a:active {
  opacity: 0.6;
}

*:focus {
  outline: 2px dashed #d87d4a;
  outline-offset: 2px;
}

/* VISUALLY HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */
.container {
  width: 100%;
  max-width: 74.375rem;
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
  margin-left: auto;
  margin-right: auto;
}

/* 640px */
@media only screen and (min-width: 40em) {
  :root {
    --container-padding: 40px;
  }
}
.button {
  display: inline-block;
  padding: 14px 29px;
  border: 1px solid transparent;
  background-color: var(--color-black);
  color: var(--color-white);
  font-size: 0.8125rem;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  white-space: nowrap;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-property: background-color, opacity, color;
}
.button:hover {
  background-color: var(--color-grey-darker);
}
.button--block {
  display: block;
  width: 100%;
}
.button--primary {
  background-color: var(--color-primary);
  color: var(--color-white);
}
.button--primary:hover {
  background-color: var(--color-brown-light);
}
.button--outline {
  border-color: var(--color-black);
  background-color: transparent;
  color: var(--color-black);
}
.button--outline:hover {
  background-color: var(--color-black);
  color: var(--color-white);
}
.button:active {
  opacity: 0.6;
}

.arrow-link {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  color: rgba(0, 0, 0, 0.5);
  font-family: Manrope;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
}
.arrow-link:hover {
  color: #d87d4a;
}
.arrow-link:active {
  opacity: 0.6;
}
.arrow-link::after {
  flex-shrink: 0;
  width: 8px;
  height: 12px;
  background-image: url("../images/arrow-right-primary.svg");
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
}
.arrow-link--stretched::before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
}
.arrow-link--stretched:focus {
  outline: none;
}
.arrow-link--stretched:focus::before {
  outline: 2px dashed #d87d4a;
  outline-offset: 2px;
}

.back-link {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}
.back-link:hover {
  color: var(--color-primary);
}

.logo {
  display: block;
  text-decoration: none;
}

.logo__img {
  width: 143px;
  height: 25px;
  object-fit: contain;
}

/* NUMBER CONTROLS */
.number-controls {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 120px;
  height: 48px;
  background-color: var(--color-grey);
  color: var(--color-body-text);
  font-size: 0.8125rem;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
  text-align: center;
}
.number-controls--small {
  width: 96px;
  height: 32px;
  line-height: 32px;
}

.number-controls__button {
  border: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-property: opacity, color;
}
.number-controls__button--decrement {
  order: -1;
}
.number-controls__button:hover {
  color: #d87d4a;
}
.number-controls__button:active {
  opacity: 0.6;
}

/* SITENAV */
.sitenav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 0;
  list-style: none;
}

.sitenav__link {
  display: block;
  font-family: Manrope;
  font-size: 0.8125rem;
  font-weight: 700;
  color: #ffffff;
  line-height: 1.5625rem;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}
.sitenav__link:hover {
  color: var(--color-primary);
}

.sitenav__item--active .sitenav__link {
  color: var(--color-primary);
}

/* 375px */
@media only screen and (min-width: 23.4375em) {
  .sitenav__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px 34px;
  }
}
.socials__list {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 0;
  list-style: none;
}

.socials__link {
  display: block;
  color: var(--color-white);
}
.socials__link:hover {
  color: var(--color-primary);
}

.socials__icon {
  display: block;
}

/* MISSION */
.mission {
  padding-top: 120px;
  padding-bottom: 120px;
}

.mission__container {
  display: grid;
}

.mission__img {
  width: 100%;
  height: 300px;
  margin-bottom: 40px;
  border-radius: 8px;
  object-fit: cover;
}

.mission__content {
  justify-self: center;
  width: 100%;
  max-width: 35.8125rem;
  text-align: center;
}

.mission__heading {
  color: #000000;
  margin-bottom: 32px;
  font-size: 1.75rem;
  line-height: normal;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
}

.mission__heading-accent {
  color: var(--color-primary);
}

.mission__text {
  color: rgba(0, 0, 0, 0.5);
}

/* 768px */
@media only screen and (min-width: 48em) {
  .mission {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .mission__img {
    margin-bottom: 64px;
  }
  .mission__heading {
    font-size: 2.5rem;
    line-height: 1.1;
    letter-spacing: 0.08931rem;
  }
}
/* 992px */
@media only screen and (min-width: 62em) {
  .mission {
    padding-top: 200px;
    padding-bottom: 200px;
  }
  .mission__container {
    align-items: center;
    grid-template-columns: minmax(27.8125rem, 1fr) 1fr;
    gap: 125px;
  }
  .mission__img {
    width: 540px;
    height: 588px;
    margin-bottom: 0;
    object-fit: contain;
  }
  .mission__content {
    order: -1;
    text-align: left;
  }
}
/* PRODUCT INFO */
.product-info {
  display: grid;
}
.product-info--center {
  text-align: center;
}
@media only screen and (min-width: 62em) {
  .product-info--center {
    text-align: left;
  }
}

.product-info__title {
  font-size: 1.75rem;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.0625rem;
  color: var(--color-black);
  text-transform: uppercase;
  /* HERO */
  /* CATEGORY PAGE */
  /* PRODUCT PAGE */
}
.product-info--white .product-info__title {
  color: #ffffff;
}
.product-info--hero .product-info__title {
  margin-bottom: 24px;
  font-size: 2.25rem;
  line-height: 111.111%;
  letter-spacing: 0.08038rem;
}
@media only screen and (min-width: 48em) {
  .product-info--hero .product-info__title {
    font-size: 3.5rem;
    line-height: 103.571%;
    letter-spacing: 0.125rem;
  }
}
.product-info--category-page .product-info__title {
  margin-bottom: 24px;
}
@media only screen and (min-width: 48em) {
  .product-info--category-page .product-info__title {
    margin-bottom: 32px;
    font-size: 2.5rem;
    line-height: 2.75rem;
    letter-spacing: 0.08931rem;
  }
}
.product-info--product-page .product-info__title {
  margin-bottom: 24px;
}
@media only screen and (min-width: 48em) {
  .product-info--product-page .product-info__title {
    margin-bottom: 32px;
    line-height: 114.286%;
  }
}
@media only screen and (min-width: 62em) {
  .product-info--product-page .product-info__title {
    font-size: 2.5rem;
    line-height: 110%;
    letter-spacing: 0.08931rem;
  }
}

.product-info__new {
  order: -1;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.625rem;
  color: var(--color-primary);
  text-transform: uppercase;
  /* HERO */
  /* CATEGORY PAGE */
  /* PRODUCT PAGE */
}
.product-info--white .product-info__new {
  color: rgba(255, 255, 255, 0.5);
}
.product-info--hero .product-info__new {
  margin-bottom: 16px;
}
@media only screen and (min-width: 48em) {
  .product-info--hero .product-info__new {
    margin-bottom: 24px;
  }
}
.product-info--category-page .product-info__new {
  margin-bottom: 24px;
}
@media only screen and (min-width: 48em) {
  .product-info--category-page .product-info__new {
    margin-bottom: 16px;
  }
}
.product-info--product-page .product-info__new {
  margin-bottom: 24px;
}
@media only screen and (min-width: 48em) {
  .product-info--product-page .product-info__new {
    margin-bottom: 16px;
  }
}

.product-info__text {
  /* HERO */
  /* CATEGORY PAGE */
  /* PRODUCT PAGE */
}
.product-info--white .product-info__text {
  color: rgba(255, 255, 255, 0.75);
}
.product-info--hero .product-info__text {
  margin-bottom: 28px;
}
@media only screen and (min-width: 48em) {
  .product-info--hero .product-info__text {
    margin-bottom: 40px;
  }
}
.product-info--category-page .product-info__text {
  margin-bottom: 24px;
}
@media only screen and (min-width: 62em) {
  .product-info--category-page .product-info__text {
    margin-bottom: 40px;
  }
}
.product-info--product-page .product-info__text {
  margin-bottom: 24px;
}
@media only screen and (min-width: 48em) {
  .product-info--product-page .product-info__text {
    margin-bottom: 32px;
  }
}

.product-info__price-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 32px;
}
@media only screen and (min-width: 62em) {
  .product-info__price-wrapper {
    margin-bottom: 48px;
  }
}

.product-info__price {
  font-size: 1.175rem;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.08038rem;
  color: #000000;
  text-transform: uppercase;
}

.product-info__actions {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.product-info--center .product-info__actions {
  justify-content: center;
}
@media only screen and (min-width: 62em) {
  .product-info--center .product-info__actions {
    justify-self: start;
  }
}

/* PRODUCT */
.product {
  display: grid;
  /* CATEGORY PAGE */
  /* PRODUCT PAGE */
}
.product--category-page {
  gap: 32px;
}
@media only screen and (min-width: 48em) {
  .product--category-page {
    gap: 52px;
  }
}
@media only screen and (min-width: 62em) {
  .product--category-page {
    align-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
  }
}
.product--product-page {
  gap: 32px;
}
@media only screen and (min-width: 48em) {
  .product--product-page {
    align-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 69px;
  }
}
@media only screen and (min-width: 62em) {
  .product--product-page {
    gap: 100px;
  }
}

.product__image-wrapper {
  position: relative;
  z-index: 1;
  display: grid;
  place-items: center;
  padding: 24px;
  /* CATEGORY PAGE */
  /* PRODUCT PAGE */
}
.product--category-page .product__image-wrapper {
  width: 100%;
  height: 352px;
  background-color: #f1f1f1;
  border-radius: 8px;
}
@media only screen and (min-width: 62em) {
  .product--category-page .product__image-wrapper {
    width: 100%;
    height: 560px;
  }
}
.product--category-page .product__image-wrapper::after {
  position: absolute;
  z-index: -1;
  left: 50%;
  bottom: 51px;
  transform: translateX(-50%);
  width: 165px;
  height: 35px;
  background-color: var(--color-black);
  opacity: 0.3;
  border-radius: 50%;
  content: "";
  filter: blur(21.7462539673px);
}
@media only screen and (min-width: 62em) {
  .product--category-page .product__image-wrapper::after {
    width: 262px;
    height: 56px;
    bottom: 81px;
  }
}
.product--product-page .product__image-wrapper {
  width: 100%;
  height: 327px;
  background-color: #f1f1f1;
  border-radius: 8px;
}
@media only screen and (min-width: 48em) {
  .product--product-page .product__image-wrapper {
    width: 100%;
    height: 480px;
  }
}
@media only screen and (min-width: 62em) {
  .product--product-page .product__image-wrapper {
    width: 100%;
    height: 560px;
  }
}
.product--product-page .product__image-wrapper::after {
  position: absolute;
  z-index: -1;
  left: 50%;
  bottom: 56px;
  transform: translateX(-50%);
  width: 136px;
  height: 29px;
  background-color: var(--color-black);
  opacity: 0.3;
  border-radius: 50%;
  content: "";
  filter: blur(21.7462539673px);
}
@media only screen and (min-width: 48em) {
  .product--product-page .product__image-wrapper::after {
    bottom: 132px;
  }
}
@media only screen and (min-width: 62em) {
  .product--product-page .product__image-wrapper::after {
    width: 262px;
    height: 56px;
    bottom: 81px;
  }
}

.product__image {
  /* PRODUCT PAGE */
}
.product--category-page .product__image {
  width: 242px;
  height: 244px;
  object-fit: contain;
}
@media only screen and (min-width: 62em) {
  .product--category-page .product__image {
    width: 372px;
    height: 389px;
  }
}
.product--product-page .product__image {
  width: 185px;
  height: 201px;
  object-fit: contain;
}
@media only screen and (min-width: 62em) {
  .product--product-page .product__image {
    width: 372px;
    height: 389px;
  }
}

.product--category-page .product__product-info {
  max-width: 35.75rem;
  margin-inline: auto;
}

/* MAIN CONTENT */
.main-content {
  flex-grow: 1;
}

/* FOOTER */
.footer {
  padding-top: 52px;
  padding-bottom: 38px;
  background-color: #101010;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
}

.footer__container {
  position: relative;
  z-index: 1;
  display: grid;
  justify-items: center;
  gap: 48px;
}
.footer__container::before {
  position: absolute;
  z-index: 1;
  top: -52px;
  left: 50%;
  width: 100px;
  height: 4px;
  transform: translateX(-50%);
  background-color: var(--color-primary);
  content: "";
}

/* 768px */
@media only screen and (min-width: 48em) {
  .footer {
    padding-top: 60px;
    padding-bottom: 46px;
    text-align: left;
  }
  .footer__container {
    grid-template-columns: 1fr 1fr;
    justify-items: start;
    gap: 0 48px;
  }
  .footer__container::before {
    top: -60px;
    left: var(--container-padding);
    transform: translateX(0);
  }
  .footer__logo,
  .footer__sitenav,
  .footer__about {
    grid-column: 1/-1;
  }
  .footer__logo,
  .footer__sitenav {
    margin-bottom: 32px;
  }
  .footer__about {
    margin-bottom: 80px;
  }
  .footer__socials {
    justify-self: end;
  }
}
/* 992px */
@media only screen and (min-width: 62em) {
  .footer {
    padding-top: 76px;
    padding-bottom: 48px;
  }
  .footer__container::before {
    top: -76px;
  }
  .footer__logo {
    grid-column: 1/2;
    margin-bottom: 36px;
  }
  .footer__sitenav {
    grid-column: 2/-1;
    margin-bottom: 0;
    justify-self: end;
  }
  .footer__about {
    grid-column: 1/2;
    margin-bottom: 0;
  }
  .footer__copy {
    order: 2;
    margin-top: 56px;
  }
  .footer__socials {
    order: 1;
    align-self: end;
  }
}

/*# sourceMappingURL=main.css.map */
