@mixin outline($outline-color) {
  outline: 2px dashed $outline-color;
  outline-offset: 2px;
}

@mixin transition($properties...) {
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-property: $properties;
}

@mixin breakpoint-up($breakpoint) {
  @media only screen and (min-width: $breakpoint) {
    @content;
  }
}

@mixin breakpoint-down($breakpoint) {
  @media only screen and (max-width: $breakpoint) {
    @content;
  }
}

@mixin round-card($width, $height, $bdrs: 8px, $bgcolor: $color-grey) {
  width: $width;
  height: $height;
  background-color: $bgcolor;
  border-radius: $bdrs;
}
