@mixin outline($outline-color) {
  outline: 2px dashed $outline-color;
  outline-offset: 2px;
}

@mixin transition($properties...) {
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-property: $properties;
}

@mixin breakpoint-up($breakpoint) {
  @media only screen and (min-width: $breakpoint) {
    @content;
  }
}

@mixin breakpoint-down($breakpoint) {
  @media only screen and (max-width: $breakpoint) {
    @content;
  }
}

@mixin round-card($width, $height, $bdrs: 8px, $bgcolor: $color-grey) {
  width: $width;
  height: $height;
  background-color: $bgcolor;
  border-radius: $bdrs;
}

@mixin product-shadow($bottom, $width, $height, $opacity) {
  position: absolute;
  z-index: -1;
  left: 50%;
  bottom: $bottom;
  transform: translateX(-50%);
  width: $width;
  height: $height;
  background-color: var(--color-black);
  opacity: $opacity;
  border-radius: 50%;
  content: "";
  filter: blur(21.746253967285156px);
}
