/* CONTAINER */
.container {
  width: 100%;
  max-width: 74.375rem;
  padding-left: var(--container-paddding);
  padding-right: var(--container-paddding);
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 40em) {
  :root {
    --container-paddding: 24px;
  }
}
